@charset "utf-8";

@media (min-width: 768px){
	.container {
	  width: 752px;
	}
}
@media (min-width: 992px){
	.container {
	  width: 972px;
	}
}
@media (min-width: 1200px){
	.container {
	  width: 1172px;
	}
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

body.FW__show {
	overflow-y: hidden;
}


[href="#filial-widget"] {
	position: relative;
	z-index: 10;
	left: -10px;
}
.inner [href="#filial-widget"] {
	left: 120px;
}

.filial-widget__wrapper {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 500;
	overflow-y: auto;
	background: rgba(153, 153, 153, 0.9);
}
.filial-widget__wrapper.static {
	position: relative;
	background: none;
	display: block;
	top: 0;
	margin-bottom: 50px;
	z-index: 15;
}

#filial-widget {
	width: 100%;
	clear: both;
	max-width: 100%;
	background-color: #fff;
	margin: 65px auto 30px;
	position: relative;
	z-index: 0;
	font-size: 16px;
	/*box-shadow: 0 0 5px rgba(0,0,0,.2);*/
}
.filial-widget__wrapper.static #filial-widget {
	margin-top: 0;
}

.filial-widget__close {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: -5em auto;
	padding: 2em 0;
	width: 120px;
	content: 'Скрыть список';
	font-size: 12px;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
	color: #fff;
}
.filial-widget__close:after {
	padding-left: .5em;
	content: '×';
	font-size: 1.5em;
	vertical-align: middle;
	line-height: 1em;
	color: inherit;
}
.filial-widget__close:hover {
	color: #4099ff;
}
.filial-widget__static .filial-widget__close {
	display: none;
}

.spinner {
	display: block;
	width: 32px;
	height: 32px;
	margin: auto auto 40px;
}

.filial-widget__header {
	overflow: hidden;
	background: #f3f3f3;
	position: relative;
}
.filial-widget__tab {
	display: inline-block;
	padding: 22px 36px 26px;
	outline: none;
	font-weight: 400;
	color: #4099ff;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: .3s;
}
.filial-widget__tab:first-child {
	margin-top: 18px;
}
.filial-widget__tab:hover {
	text-decoration: underline;
}
.filial-widget__tab.active {
	background-color: #fff;
}

.filial-widget__current-region {
	float: right;
  margin: 0 20px 0;
  text-align: right;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -.5em;
}
.filial-widget__current-region a {
	color: #4099ff;
	text-decoration: none;
}


#filial-widget__content {
	overflow: hidden;
	padding: 22px;
	background-color: #fff;
}

.filial-widget__search {
	padding: 40px;
	border-bottom: 1px solid #f3f3f3;
}

.filial-widget__search__left {
	position: relative;
	width: 100%;
	max-width: 580px;
}
.filial-widget__search__field {
	display: block;
	overflow: hidden;
	border: 1px solid #dfdfdf;
	box-shadow: inset 0px 0px 3px 1px #ededed;
	box-sizing: border-box;
	padding: 10px 40px 10px 20px;
	margin: 0;
	width: 100%;
	height: 40px;
	color: #999;
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	outline: none;
	vertical-align: top;
}

.filial-widget__search__btn {
	display: inline-block;
	color: transparent;
	text-align: center;
	line-height: 0px;
	background: #458af3;
	border: 0 none;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: 0;
	cursor: pointer;
}
.filial-widget__search__btn:after {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 40px;
	background: url('../img/filial-widget/sprite.png');
}

#filial-widget__search__list {
	padding: 0;
	margin: 0;
	max-height: 300px;
	overflow-y: auto;
	background: #fff;
	border: 1px solid #ededed;
	border-top: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 10;
	list-style: none;
}
#filial-widget__search__list li {
	display: none;
	padding: 10px 20px !important;
	margin: 0 !important;
	list-style: none !important;
	border-top: 1px solid #ededed;
	cursor: pointer;
}
#filial-widget__search__list li:after {
	content: none !important;
	display: none;
}
#filial-widget__search__list li.visible {
	display: block;
}
#filial-widget__search__list:hover li,
#filial-widget__search__list:hover li.active {
	color: inherit;
}
#filial-widget__search__list li:hover,
#filial-widget__search__list li.active,
#filial-widget__search__list li:focus {
	outline: none;
	color: #4099ff;
}

.filial-widget__search__error {
	display: none;
	font-style: normal;
	line-height: 1.5;
	text-decoration: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 10;
}
.filial-widget__search__error.error,
.filial-widget__search__error.info {
	display: block;
	color: red;
	font-size: 12px;
}
.filial-widget__search__error.info {
	color: #999;
}

.filial-widget__toggle-map {
	width: 210px;
	padding: 11px 25px 11px 52px;
	border: 1px solid #458af3;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	color: #458af3;
	font-weight: 700;
	font-size: 13px;
	background-color: #fff;
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
	z-index: 10;
}
.filial-widget__toggle-map:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 20px;
	background: url("../img/filial-widget/sprite.png") no-repeat 0 -22px;
	position: absolute;
	left: 18px;
}
.filial-widget__toggle-map:after {
	content: 'Искать на карте';
}
.filial-widget__toggle-map.active:after {
	content: 'Закрыть карту';
}

#filial-widget__map {
	width: 100%;
	height: 400px;
}


.filial-widget__tab-content {
	display: none;
	overflow: hidden;
	padding: 40px 40px 0px;
}
.filial-widget__tab-content.active {
	display: block;
}

.filial-widget__tab-content__col {
	width: 25%;
	float: left;
	padding-left: 30px;
	box-sizing: border-box;
}
.filial-widget__tab-content__col:first-child {
	padding-left: 0;
}
.filial-widget__tab-content__col h3 {
	font-size: 1.25em;
	padding-right: 25px;
}

.filial-widget__tab-content__filial {
	position: relative;
	display: block;
	border-bottom: 1px solid #f3f3f3;
	padding: 8px 0;
	max-width: 240px;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.filial-widget__tab-content__filial:hover,
.filial-widget__tab-content__filial:active {
	text-decoration: none;
	color: #4099ff;
}
.filial-widget__tab-content__filial__region-filial {
	padding-top: 6rem;
  display: block;
  position: relative;
}
.filial-widget__tab-content__filial[data-isfilial="1"] {
	font-size: 1.25em;
	display: inline-block;
  vertical-align: bottom;
  border-bottom: 0;
  margin-right: 3.6rem;
  position: static;
  overflow: visible;
  padding-left: 30px;
}
.filial-widget__tab-content__filial[data-isfilial="1"]:first-child:before {
	content: 'Филиалы';
	color: #000;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: .75em;
	display: block;
	text-decoration: none;
	position: absolute;
  top: 0;
  left: 0;
}
.filial-widget__tab-content__filial.dublicate {
	display: none;
}
.filial-widget__tab-content__filial__region-filial:after {
	content: 'Региональная сеть';
	color: #000;
	font-size: 1.25em;
	font-weight: 600;
	display: block;
	margin: 3em 0 -1em;
	padding-right: 25px;
}

.filial-widget__tab-content__filial__region {
	display: block;
	margin: 3em 0;
}
.filial-widget__tab-content__filial__region:first-child {
	margin-top: 2.25em;
}
.filial-widget__tab-content__filial__region b {
	font-weight: 600;
	padding-bottom: .5em;
	display: block;
}


.filial-widget__filial-info {
	display: none;
	overflow: hidden;
	padding: 40px 40px 30px;
}

.filial-widget__filial-info__close {
	cursor: pointer;
	color: #4099ff;
	font-size: 14px;
	line-height: .75em;
	display: inline-block;
	clear: both;
	padding-left: 20px;
	margin-bottom: 80px;
}
.filial-widget__filial-info__close:before {
	content: '< ';
	font-size: 1.5em;
	vertical-align: bottom;
	line-height: .6em;
	display: inline-block;
	width: 15px;
}
.filial-widget__filial-info__close:hover:before {
	content: '× ';
}

.filial-widget__filial-info__title {
	display: block;
	margin-bottom: 1.25em;
	color: #000;
	font-weight: 600;
	font-size: 1.5em;
}

.filial-widget__filial-info__item {
	border-top: 1px solid #f3f3f3;
	margin: 0 0 30px 0;
	padding-top: 30px;
	clear: both;
	overflow: hidden;
}
.filial-widget__filial-info__item > * {
	float: left;
	width: 25%;
	padding-left: 30px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.25;
}
.filial-widget__filial-info__item > *:first-child {
	width: 50%;
	padding-left: 0;
}

.filial-widget__filial-info__item > * > * {
	display: block;
}
.filial-widget__filial-info__item b,
.filial-widget__filial-info__item strong,
.filial-widget__filial-info__item i,
.filial-widget__filial-info__item em {
	font-weight: normal;
	font-style: normal;
}
.filial-widget__filial-info__item a {
	color: #4099ff;
	text-decoration: none;
}
.filial-widget__filial-info__item a:hover {
	text-decoration: underline;
}
.filial-widget__filial-info__item a.item-schedule {
	color: #000;
	text-decoration: none;
}

.filial-widget__filial-info__item .item-name {
	color: #000;
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 1em;
}
.filial-widget__filial-info__item .item-director {
	color: #000;
	display: block;
	margin-top: .5em;
}
.filial-widget__filial-info__item a:hover {
	color: #4099ff;
}
.filial-widget__filial-info__item.partner a {
	cursor: default;
	color: inherit;
}

@keyframes show_chosen {
	from {
	  background: none;
    box-shadow: none;
	}
	50% {
		background: rgba(64, 153, 255, .05);
	  box-shadow: 0px 10px 0px 10px rgba(64, 153, 255, .05);
	}
	to {
		background: none;
    box-shadow: none;
	}
}
.filial-widget__filial-info__item_chosen {
  animation: show_chosen .6s ease 1s 2;
}


.form-widget {
	overflow: hidden;
	background: #458af3;
	padding: 45px 22px;
}
.form-widget__form {
	display: table;
	width: 100%;
}
.form-widget__form > * {
	display: table-cell;
	vertical-align: middle;
}

.form-widget__form-caption {
	color: #fff;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 1em;
	margin: 0;
	padding-right: 10px;
}

.form-widget__form-control {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding-right: 10px;
	margin-right: -2px;
	width: 33%;
}
.form-widget__form-control input {
	color: #458af3;
	font-size: 14px;
	font-weight: 400;
	background: #ebeced;
	border: 1px solid #FFF;
	box-shadow: inset 0 0px 3px 0px rgba(0, 0, 0, 0.5);
	padding: 14px 16px;
	width: 100%;
	box-sizing: border-box;
}
.form-widget__form-control label.error {
	position: absolute;
	left: 10px;
	right: 0;
	top: 100%;
	font-size: 10px;
	color: #fff;
}

.form-widget__form-control-submit input {
	background: #fff;
	color: #458af3;
	padding: 0;
	width: 145px;
	font-size: 14px;
	height: 46px;
	font-weight: 500;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	line-height: 1.25em;
}

.form-widget__form-notice {
	color: #fff;
	padding-top: 24px;
	line-height: 1.4em;
}

.form-widget__form h3,
.form-widget__form [class^="send"] {
	color: #fff;
}


/*.widget-form-privacy {
	width: 100%;
	display: table-caption;
	caption-side: bottom;
	flex: 1 100%;
}*/


@media (max-width: 1260px) {

}


@media (max-width: 960px) {
	.filial-widget__current-region {
		width: 33%;
	}

	.filial-widget__search {
		overflow: hidden;
	}

	.filial-widget__search__left {
		max-width: 100%;
		padding-right: 240px;
		margin-right: -240px;
		box-sizing: border-box;
		float: left;
	}
	.filial-widget__search__btn {
		right: 240px;
	}
	#filial-widget__search__list {
		margin-right: 240px !important;
	}

	.filial-widget__filial-info__item > * {
		width: 30%;
	}
	.filial-widget__filial-info__item > *:first-child {
		width: 40%;

	}


	.filial-widget__tab-content__col {
		width: 33.333%;
	}

	.form-widget__form {
		display: block;
		overflow: hidden;
	}
	.form-widget__form > * {
		display: block;
	}
	.form-widget__form-caption {
		margin-bottom: 1em;
	}
	.form-widget__form-caption br {
		display: none;
	}

	.form-widget__form-cell {
		margin-right: -145px;
		padding-right: 145px;
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
	.form-widget__form-control-submit input {
		width: 145px !important;
	}
}


@media (max-width: 750px) {
	.filial-widget__toggle-map {
		margin-bottom: 30px;
		float: none;
	}

	.filial-widget__search__left {
		padding-right: 0;
		margin-right: 0;
		float: none;
		clear: both;
	}
	.filial-widget__search__btn {
		right: 0;
	}

	.filial-widget__filial-info__item > * {
		width: 50%;
		padding-left: 0;
		padding-right: 30px;
	}
	.filial-widget__filial-info__item > *:first-child {
		width: 100%;
		clear: both;
		margin-bottom: 30px;
	}

	.filial-widget__tab-content__col {
		width: 50%;
	}

	.form-widget__form-cell {
		margin-right: 0;
		padding-right: 0;
		float: none;
	}
	[class^="form-widget__form-control"] {
		display: block;
		margin: 0 auto 1em;
		padding-right: 0;
		width: auto;
	}
	.form-widget__form-control-submit input {
		width: 100% !important;
	}
}


@media (max-width: 560px) {
	.inner [href="#filial-widget"] {
	left: inherit;

}
	.filial-widget__current-region {
		width: auto;
		text-align: left;
		float: none;
		margin-top: 30px;
		margin-left: 40px;
		position: relative;
    top: initial;
    right: initial;
	}

	.filial-widget__filial-info__item > * {
		width: 100%;
		clear: both;
		float: none;
		margin-top: 30px;
	}
	.filial-widget__filial-info__item > *:first-child {
		margin: 0;
	}

	.filial-widget__tab-content__col {
		width: 100%;
	}
}