#online-consult {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 500;
}

/* btn */
.online-consult__open {
  border-radius: 66px;
  overflow: hidden;
  text-align: right;
  cursor: pointer;
  transition: .2s;
}

.online-consult__open-ico {
  display: inline-block;
  width: 66px;
  height: 66px;
  background: #F85969;
  border-radius: 50%;
  
  font-size: 38.5px;
  font-weight: bold;
  line-height: 66px;
  text-align: center;
  vertical-align: middle;
  color: #fff;

  transition: .2s;
}

.online-consult__open-txt {
  display: inline-block;
  max-width: 0;
  margin: 0 18px 0 36px;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  vertical-align: middle;
  white-space: nowrap;
  color: #000;
  
  transition: .2s;
  overflow: hidden;
  opacity: 0;
}

.online-consult__open:hover,
.online-consult__open_txt-visible {
  background-color: #fff;
}
.online-consult__open:hover .online-consult__open-ico,
.online-consult__open_txt-visible .online-consult__open-ico {
  background: #f44357;
}
.online-consult__open:hover .online-consult__open-txt,
.online-consult__open_txt-visible .online-consult__open-txt{
  max-width: 300px;
  opacity: 1;
}


/* block */
.online-consult__outer {
  max-width: 408px;
  margin: 15px;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(4, 14, 69, 0.09);
}
.online-consult__top-img {
  display: block;
  max-width: 100%;
  margin: 16px auto 24px;
}
.online-consult__step-title {
  margin: 46px 0 25px;
  font-size: 22px;
}
.online-consult__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
            
  margin-top: 30px;
}
.online-consult__close {
  display: block;
  width: 28px;
  height: 28px;
  background: url('/assets/template/v4/img/icons/close_thin_dark.svg') no-repeat 0 0;
  background-size: contain;
  
  cursor: pointer;
  transition: .2s;
}
.online-consult__close:hover {
  background-image: url('/assets/template/v4/img/icons/close_thin_gray.svg');
}


/* form */
.online-consult__field {
  margin: 10px 0;
}
.online-consult__input {
  width: 100%;
  min-height: 58px;
  padding: 18px 20px;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  box-sizing: border-box;
  
  font-size: 18px;
}
textarea.online-consult__input {
  min-height: 227px;
  resize: vertical;
}
.online-consult__input_err {
  border-color: #f85969;
  background: rgba(248, 89, 105, 0.05);
}
.online-consult__btn {
  width: 230px;
  height: 54px;
  margin: 0;
  font-size: 14px;
}

.online-consult__form .capture-form__privacy {
  margin-top: 8px;
  margin-left: 0;
}


/* media */
@media(max-width: 991px) {
  #online-consult {
    display: none;
  }  
}


@media(max-width: 767px) {
  .online-consult__open {
    margin-bottom: 48px;
  }
}


@media(max-width: 576px) {
  .online-consult__top-img {
    margin-top: 0;
  }
  .online-consult__bottom {
    margin-top: 15px;
  }
  
  .textarea.online-consult__input {
    min-height: 130px;
  }
  .online-consult__btn {
    width: 185px;
  }
}



/*
  KVIZ
*/
#js-copy-kviz,
.kviz_online-consult {
  width: 310px;
  min-height: 200px;
}
.kviz_online-consult .container {
  width: auto;
}
.kviz_online-consult .kviz__inner {
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.kviz_online-consult .kviz__img {
  display: none;
}

#js-copy-kviz .js-start-kviz,
.kviz_online-consult .js-start-kviz {
  position: relative;
  z-index: 5;
}
#js-copy-kviz .kviz__slide,
.kviz_online-consult .kviz__slide {
  background: none;
}
#js-copy-kviz .kviz__slide:before,
.kviz_online-consult .kviz__slide:before {
  content: none;
}
#js-copy-kviz .kviz__question,
.kviz_online-consult .kviz__question {
  width: auto;
  margin: 14px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  color: #333;
}
#js-copy-kviz .kviz__question br,
.kviz_online-consult .kviz__question br {
  display: none;
}

#js-copy-kviz .kviz__answers,
.kviz_online-consult .kviz__answers {
  width: auto;
  padding-left: 60px;
}
#js-copy-kviz .kviz__answer,
.kviz_online-consult .kviz__answer {
  margin: 8px 0;
}

#js-copy-kviz .kviz__label,
.kviz_online-consult .kviz__label {
  padding-left: 28px;
  font-size: 18px;
}
#js-copy-kviz .kviz__label:before,
.kviz_online-consult .kviz__label:before {
  top: 2px;
  width: 12px;
  height: 12px;
}

#js-copy-kviz .kviz__form,
.kviz_online-consult .kviz__form {
  width: auto;
}
#js-copy-kviz .kviz__form-input,
.kviz_online-consult .kviz__form-input {
  border-width: 1px;
  color: #333;
}
#js-copy-kviz .kviz__form .capture-form__privacy-text,
.kviz_online-consult .kviz__form .capture-form__privacy-text {
  color: #333;
}
#js-copy-kviz .kviz__form .capture-form__privacy-text:before,
.kviz_online-consult .kviz__form .capture-form__privacy-text:before {
  border: 1px solid rgba(51, 51, 51, 0.4);
}

#js-copy-kviz .kviz__form-input::-moz-placeholder {
  color: #333;
}
#js-copy-kviz .kviz__form-input::-webkit-input-placeholder { color: #333; }
.kviz_online-consult .kviz__form-input::-webkit-input-placeholder { color: #333; }
#js-copy-kviz .kviz__form-input:-ms-input-placeholder { color: #333; }
.kviz_online-consult .kviz__form-input:-ms-input-placeholder { color: #333; }
#js-copy-kviz .kviz__form-input::-ms-input-placeholder { color: #333; }
.kviz_online-consult .kviz__form-input::-ms-input-placeholder { color: #333; }
#js-copy-kviz .kviz__form-input::placeholder { color: #333; } 
.kviz_online-consult .kviz__form-input::placeholder { color: #333; } 
#js-copy-kviz .kviz__form-input.error {
  color: #EF152F;
}
.kviz_online-consult .kviz__form-input.error {
  color: #EF152F;
}